.header {
    margin-top: 30px;
}

.header-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Lora', serif;
    color: #444;
    font-size: 100px;
    position: absolute;
    text-align: center;
    top: -2%;
}

.header-img {
    width: 100%;
    height: 450px;
    object-fit: cover;
    margin-top: 80px;
}